.addBtn {
    background-color: rgb(171, 123, 224);
    border-color: rgb(171, 123, 224);
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    width: 4rem;
  }

  .addBtn div {
    text-decoration: none;
    font-weight: bold;
    color: rgb(80, 9, 105);
  }
  
  .addBtn div:hover,
  .addBtn div:active,
  .addBtn div.active {
    color: rgb(231, 227, 240);
  }
